.rentals {
  opacity: 0.9;
  font-family: Gilroy;
  font-size: 54px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #252525;
  word-spacing: 100vw;
}

.now {
  opacity: 0.9;
  font-family: Gilroy;
  font-size: 21.6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #252525;
  word-spacing: 0vw;
}

.smater {
  font-family: Gilroy;
  font-size: 54px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #2486d5;
}

.moto-description {
  opacity: 0.9;
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #252525;
  padding: 0 25%;
}

.roller {
  font-family: Gilroy;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #2486d5;
}

.safety-description {
  opacity: 0.9;
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  color: #252525;
}

.DetailPhone {
  opacity: 0.9;
  font-family: Gilroy;
  font-size: 32px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252525;
}

.DetailEmail {
  opacity: 0.9;
  font-family: Gilroy;
  font-size: 32px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252525;
}

.sidebar {
  width: 250px;
}

.sidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}
.sidebarList .rowe {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebarList .rowe:hover {
  cursor: pointer;
  background-color: #95cbf7;
  color: black;
}
.rowe #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.rowe #title {
  flex: 70%;
}

.hide {
  display: none;
  font-size: 50px;
}

.cart-total {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  right: 100px;
}
